Source: tarantool-modulekit
Priority: optional
Section: database
Maintainer: Roman Tsisyk <roman@tarantool.org>
#Build-Depends: debhelper (>= 9), cdbs, dpkg-dev (>= 1.16.1~)
# CMake is only needed for Lua/C and C modules
Build-Depends: debhelper (>= 9), cdbs, cmake (>= 2.8), dpkg-dev (>= 1.16.1~),
               tarantool (>= 1.6.8.0)
Standards-Version: 3.9.6
Homepage: https://github.com/tarantool/modulekit-lua
Vcs-Git: git://github.com/tarantool/modulekit-lua.git
Vcs-Browser: https://github.com/tarantool/modulekit-lua

Package: tarantool-modulekit
Architecture: any
Depends: tarantool, ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: A set of Tarantool module templates.
    A set of Lua, Lua/C and C module templates for Tarantool.
