Source: tarantool-luakit
Priority: optional
Section: database
Maintainer: Roman Tsisyk <roman@tarantool.org>
Build-Depends: debhelper (>= 9), tarantool (>= 1.6.8.0)
Standards-Version: 3.9.8
Homepage: https://github.com/tarantool/luakit
Vcs-Git: git://github.com/tarantool/luakit.git
Vcs-Browser: https://github.com/tarantool/luakit

Package: tarantool-luakit
Architecture: all
Depends: tarantool (>= 1.6.8.0), ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Lua module template for Tarantool
 This package provides a Lua module template for Tarantool.
